* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f3f3;
    margin: 0 auto;
}

/* section */
section {
    width: 100%;
    height: 100%;
    background-color: white;
}

/*article main1*/
#main {
    width: 100%;
    height: 40vh;
    text-align: center;
    position: relative;
}

/*main1 시작화면*/
#mainimg {
    height: 100%;
    margin-top: 66px;
    position: relative;
}

#view {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#view li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#view li img {
    width: 100%;
    height: 100%;
}

#view li:nth-child(1) {
    left: 0%;
    background-color: violet;
}

#view li:nth-child(2) {
    left: 100%;
    background-color: turquoise;
}

#view li:nth-child(3) {
    left: 200%;
    background-color: tomato;
}

#mainimg .btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 9998;
    margin-left: -32.5px;
}

#mainimg .btn li {
    float: left;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 20%;
    overflow: hidden;
}

#mainimg .btn li.on a {
    background-color: rgb(0, 0, 0);
}

#mainimg .btn a {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background-color: white;
}

.main-comment {
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.379);
}

.main-comment-box {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-comment-box img {
    width: 10rem;
}

/*article main2*/
#main_2nd {
    width: 100%;
    text-align: center;
    height: 20rem;
}

/*본문 중앙정렬*/
#body_container{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.body_center{
    width: 100%; /* 적절한 너비를 설정하세요 */
    max-width: 1300px;
    margin: 0 auto; /* 수평 중앙 정렬 */
    
}

/*메인2 카드 배경*/
.main-2_card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white
}

/*메인2 카드 grid 컨테이너*/
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    /* 컬럼 사이의 간격 */
}

.stack {
    width: 11em;
    height: 11em;
    background-color: rgb(64, 64, 251);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.stack h3:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
    color: greenyellow;
}

.stack hr {
    background-color: white;
    width: 15em;
    border: 1;
}

/*메인3*/
#main_3rd {
    width: 100%;
    height: 60vh;
}

.main3_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.left {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_card {
    width: 90%;
    margin: 2rem;
    margin-top: 0;
    border: 1px solid rgb(191, 190, 190);
    display: grid;
    grid-template-columns: 200px 1fr;
}

.left_card:first-child {
    background-color: rgb(55, 37, 255);
}
.left_card:nth-child(2){
    background-color: rgb(3, 95, 255);
}
.left_card:last-child {
    background-color: rgb(49, 156, 255);
}

.card_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card_icon_box {
    width: 90%;
    height: 150px;
    margin: 0 auto;
}

.card_icon_box img {
    width: 100%;
    height: 100%;
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 0.5rem;
    list-style: none;
}

.card_text img {
    margin-top: 1rem;
    width: 50px;
    height: 50px;
}

.card_text li {
    margin-left: 10px;
}

.right {
    margin-top: 80px;
    float: left;
    width: 600px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vdo_container {
    width: 90%;
    height: 60%;
    margin: 2rem;
    margin-top: 0;
}

iframe {
    width: 100%;
    height: 100%;
}

.banner {
    width: 90%;
    height: 40%;
}

.banner img {
    width: 100%;
    height: 100%;
}

/*article main4*/
#main_4th {
    width: 100%;
    height: 330px;
    background-color: blue;
}

.main4_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.main4_container img {
    width: 100%;
    height: 100%;
}

.main4-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.275);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1200px){
    #main_2nd{
        height: 50vh;
    }
    .card-container {
        grid-template-columns: 1fr 1fr;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #main_3rd{
        height: 100vh;
    }
    .main3_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .main3_container .left {
        width: 80%;
    }

    .main3_container .right {
        width: 80%;
        height: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1rem;
    }

    .left {
        float: left;
        width: 100%;
    }

    #main_2nd {
        height: auto;
    }


    .main2_comment {
        height: 30rem;
    }

    /*메인3*/
    #main_3rd {
        height: 100vh;
    }

    .main3_container .left {
        width: 100%;
    }

    .main3_container .right {
        width: 100%;
        height: 62%;
    }

    .right img {
        width: 100%;
        height: 100%;
    }

    .content_box {
        height: 200px;
    }

    #main_4th {
        height: 250px;
    }
}
