* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* section */
section {
    width: 100%;
    height: 100%;
    background-color: white;
}

/*article main1*/
#main {
    width: 100%;
    height: 40vh;
    text-align: center;
    position: relative;
}

/*main1 시작화면*/
#mainimg {
    height: 100%;
    position: relative;
}

#view {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#view li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#view li img {
    width: 100%;
    height: 100%;
}

#view li:nth-child(1) {
    left: 0%;
    background-color: violet;
}

#view li:nth-child(2) {
    left: 100%;
    background-color: turquoise;
}

#view li:nth-child(3) {
    left: 200%;
    background-color: tomato;
}

#mainimg .btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 9998;
    margin-left: -32.5px;
}

#mainimg .btn li {
    float: left;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 20%;
    overflow: hidden;
}

#mainimg .btn li.on a {
    background-color: rgb(0, 0, 0);
}

#mainimg .btn a {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background-color: white;
}

.main-comment {
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.379);
}

.main-comment-box {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-comment-box img{
    width: 10rem;
}

/*article main2*/
#main_2nd {
    width: 100%;
    text-align: center;
    height: 20rem;    
}

/*메인2 카드 배경*/
.main-2_card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(35, 168, 142, 0.507), rgb(65, 65, 65));
}

/*메인2 카드 grid 컨테이너*/
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    /* 컬럼 사이의 간격 */
}

.stack {
    width: 10em;
    height: 10em;
    background-color: rgb(30, 29, 29);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.stack h3:hover{
    transform: scale(1.1);
    transition-duration: 0.1s;
    color:greenyellow;
}
.stack hr {
    background-color: white;
    width: 15em;
    border: 1;
}

/*article main3*/
#main_3rd {
    width: 100%;
    height:28rem;
    position: relative;
}

.main3_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.left {
    float: left;
    width:40%;
    height: 100%;

}
.right {
    float: right;
    width: 60%;
    height: 100%;
}
.main3_container img{
    width:100%;
    height:100%;
}

/*article main4*/
#main_4th {
    width: 100%;
    height: 400px;
    background-color: blue;
}



@media screen and (max-width: 768px) {
    h2 {
        font-size: 1rem;
    }

    .left {
        float: left;
        width: 100%;
        height: 500px;
    }

    .memory-game {
        float: left;
        width: 100%;
        height: 500px;
        text-align: center;
    }

    aside {
        width: 70px;
        height: 500px;
        position: sticky;
    }

    #main_2nd {
        height: auto;
    }

    .card-container {
        grid-template-columns: 1fr;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .main2_comment {
        height: 30rem;
    }

    /*메인3*/
    #main_3rd{
        height: 70vh;
    }

    .main3_container .left{
        width: 100%;
        height: 60%;
    }

    .main3_container .right{
        float: left;
        width: 100%;
        height: 40%;
    }
}

@media screen and (min-width: 1800px) {
    .main2_comment {
        height: 100vh;
    }

    h2 {
        font-size: 3rem;
    }
    #main_3rd{
        height: 100vh;
    }
    .main3_container img{
        width: 100%;
        height: 100%;
    }
    
}