* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-image: url("../image/qna_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* qna 메인 */
.qna-section {
    width: 80%; /* 적절한 너비를 설정하세요 */
    max-width: 1300px;
    height: 100vh;
    background-color: #fcfcf0;
    margin: 0 auto; /* 수평 중앙 정렬 */
}
#qna_main {
    margin-top: 66px;
}

.qna_body {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: yellowgreen;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#quizes {
    display: none;
    width: 100%;
    height: 500px;
}

/* 초기 팝콘브레인 이미지 */
.popcorn_brain {
    width: 500px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 퀴즈 관련 */
.wrapper {  
    width: 100%;
    height: 100%;
}

.quiz_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 20px;
}

.answer_image {
    width: 300px;
    height: 400px;
    display: flex;
}

.answer_image img {
    width: 100%;
    height: 100%;
}

/* 상태바 */
.status_bar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 20px;
    background-color: green;
    width: 0%; /* 초기 상태 */
    transition: 0.4s ease-in-out;
}

/* 결과화면 */
#dopamine_result {
    display: none;
    width: 100%;
    height: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* yes개수에 따른 다른 결과화면 */
#yes_small {
    display: none;
    width: 100%;
    height: 300px;
}

#yes_middle {
    display: none;
    width: 100%;
    height: 300px;
}

#yes_big {
    display: none;
    width: 100%;
    height: 300px;
}

/* yes no 애니메이션 */
#yesImage {
    transition: transform 0.5s;
}

#yesImage:hover {
    transform: scale(1.1);
}

#noImage {
    transition: transform 0.5s;
}

#noImage:hover {
    transform: scale(1.1);
}

/* 뇌 결과 화면 이미지 */
#light_brain_image {
    width: 20rem;
    height: 20rem;
    margin-bottom: 20px;
}

#normal_brain_image {
    width: 20rem;
    height: 20rem;
    margin-bottom: 20px;
}

#skull_brain_image {
    width: 20rem;
    height: 20rem;
    margin-bottom: 20px;
}

/* 공유 */
#shareImage {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/* 링크 박스 */
.link_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    column-gap: 1rem;
}

@media screen and (max-width: 768px) {
    .qna-section{
        width: 100%;
    }
}
