* {margin: 0; padding: 0;}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 66px;
    text-align: center;
    background-color: #f4f4f4;
    position: fixed;
    z-index: 1;
}

/* section */
section {
    width: 100%;
    height: 5000px;
    background-color: white;
    padding-bottom: 100px;
}

.main {
    width: 100%;
    height:100vh;
    text-align: center;
}
.art_intro {
    margin-top: 66px;
}
.chart{
    width:100%;
    display:block;
    background-color: red;
}
.container {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 8px;
}
.left {
    float: left;
    background: rgba(205, 204, 204, 0.5);
    width: 60%;
    height: 800px;
}
.memory-game {
    float: right;
    background: rgb(210, 255, 224);
    width: 40%;
    height: 800px;
    text-align: center;
}


#startGame {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.audio {
    width: 100%;
    height : 200px;
}
audio {
    margin-top: 20px;
}

aside{
    width: 70px;
    height: 800px;
    position: sticky;
    background-color: rgb(155, 238, 255);
}

footer {
    height: 100px;
    position: relative;
    transform: translateY(-100%);
    background-color: gray
}

@media screen and (max-width: 768px) {
    .left {
        float: left;
        width: 100%;
        height: 500px;
    }
    .memory-game {
        float: left;
        width: 100%;
        height: 500px;
        text-align: center;
    }
    aside{
        width: 70px;
        height: 500px;
        position: sticky;
    }
}